/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/****************************** Table *************************************/
.custom-table .p-datatable-wrapper {
  border-radius: 15px !important;
  overflow: hidden !important;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* Header สีสวย */
.custom-table .p-datatable-thead > tr > th {
  background: #f5f7fb !important;
  color: #333 !important;
  font-weight: 700 !important;
  /* text-align: center; */
  padding: 14px !important;
  font-size: 16px;
  border-bottom: 2px solid #e0e0e0 !important;
}

/* Row */
.custom-table .p-datatable-tbody > tr > td {
  /* text-align: center; */
  padding: 12px !important;
  font-size: 15px;
  color: #444;
}

/* Hover สวย ๆ */
.custom-table .p-datatable-tbody > tr:hover {
  background: #eef5ff !important;
  cursor: pointer;
}

/* Pagination */
.custom-table .p-paginator {
  background: #f8f9fa;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center; /* <-- สำคัญ! */
  align-items: center;
}

/* ปุ่มเลขหน้า */
.custom-table .p-paginator-page {
  background: #ffffff;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 6px;
  padding: 6px 10px;
  transition: 0.2s ease;
}

/* Hover */
.custom-table .p-paginator-page:hover {
  background: #4d9cff;
  color: white;
  border-color: #4d9cff;
}

/* ปุ่มหน้า active */
.custom-table .p-paginator-page.p-highlight {
  background: #4d9cff;
  color: white;
  border-color: #4d9cff;
}

/* ปุ่ม First, Prev, Next, Last */
.custom-table .p-paginator-first,
.custom-table .p-paginator-prev,
.custom-table .p-paginator-next,
.custom-table .p-paginator-last {
  background: #ffffff;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 6px;
  padding: 6px 10px;
  margin: 0 4px;
  transition: 0.2s ease;
}

/* Hover ของปุ่มลูกศร */
.custom-table .p-paginator-first:hover,
.custom-table .p-paginator-prev:hover,
.custom-table .p-paginator-next:hover,
.custom-table .p-paginator-last:hover {
  background: #4d9cff;
  color: white;
  border-color: #4d9cff;
}
