:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #eef2f3; /* โปร่งใสเพื่อให้เบลอมองเห็น */
  /* rgba(252, 244, 236, 0.55) */
  --text-color: #2e3a4e;

  --bg-color-dark: rgba(31, 31, 31, 0.55);
  --text-color-dark: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--bg-color);
  backdrop-filter: blur(25px);
  color: var(--text-color);
  min-width: 320px;
  min-height: 100vh;
  overflow: auto;
  -webkit-backdrop-filter: blur(25px);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* ปิด scroll ทั้งหน้า */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
